*{margin: 0px; padding: 0px;}
	#return {
		padding:3px 15px;
		font-size: 18px;
		position: fixed;
		right:0px;
		top:0px;
	}
	#return a{
			text-decoration: none;
	}

li {
	list-style: none;
}
.menu, .changePic, .list, .selected {
   box-sizing:border-box;
   -webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
   width:180px;
   background-color: #FAF7E0;
   float: right;
   position: relative;
   border:1px solid #cccc00;
   border-radius: 8px;
}
#container {
	height:700px;
	width:900px;
	margin:20px auto;
	background-image:url('home2.jpg');
	background-size:910px 720px;
	background-position: 0px -25px ;
}

#box {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	width:690px;
	height:690px;
	border:3px solid #cccc00;
	float:left;
	position: relative;

}
.boxs {
	display: none;
}
#img-9 img{
  width:226px;
  height:226px;
  display: block;
  float:left;
  border:1px solid #F9F5D7;
}
#img-16 img {
  width:169px;
  height:169px;
  display: block;
  float:left;
  border:1px solid #F9F5D7;
}
.menu {  
   height:200px;
   top:80px;
   padding:15px;
}
#btn {
	padding:5px 10px;
	margin-left:45px;
	margin-bottom:20px;
	position:absolute;
	cursor: pointer; 
}
.btn1{
	top:30px;
	left:0px;
}
.btn2{
	top:30px;
	left:0px;
	display: none;
}
.btn3{
	top:140px;
	left:0px;
}
.jishi{
	position: relative;
	top:70px;
}
.time {
	width:40px;
	height:25px;
	padding:0px 10px;
}
#over {
	width:100%;
	height:750px;
    background-color: #333;
    opacity: 0.7;
    display: block;
    position:absolute;
    top:0px;
    left:0px;
    display: none;
    z-index: 9999;
}
.tip {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	width:250px;
	height:180px;
	border-radius: 10px;
	background-color:#Fff;
	border:3px solid #E8D968;
	position:absolute;
	top:30%;
	left:40%;
	padding:10px;
	z-index: 100000;
	display: none;

}
.tip p{
	font-size: 22px;
	text-align: center;
	margin-top:30px;
}
.close{
	float: right;
}
.showTime {
	height:30px;
	padding:2px 5px;
	margin-top: 10px;
	text-align: center; 
}
.txtBtn{
	font-weight: bold;
	text-shadow:#f3f3f3 1px 1px 0px, #b2b2b2 1px 2px 0;
}
.changePic {
	width:200px;
   height:50px;
   line-height: 50px;
   text-align: center;   
   top:120px;
   left:-460px;
   box-shadow: 0 0 10px 1px #cccc00;
 }
.list {
	text-align: center;
    border-radius: 0px;
    border-top:0px; 
    width:140px;
    left:-30px;
    display: none;
}
.list li span{
	font-size: 13px;
}
.list li:hover {
	background-color: #eee;
	color:#339933;
	cursor: pointer; 
}
.home {
	width:680px;
	position: absolute;
	text-align: center;
	margin-top:70px;  
	height:40px;
	display:block; 
	line-height:40px; 
	font-size:16px; 
	display: none;
}

.selected{
	height:36px;
   line-height: 36px;
   text-align: center; 
	top:-170px;
	display: none;
}
