.page>header
	width 100%
	height header-height	
	input 
		border 0px
		width 100%
		font-size 22px
		font-weight bold
		text-align center
		padding 10px
		&:hover
			background-color tr-hoverColor

.page-body
	width 100%
	height auto
	padding 15px 0px
	box-sizing border-box
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	border-bottom 2px solid border-color
	border-top 2px solid border-color

.addQ
	text-align center
	height auto
	width addQ-width
	margin 15px auto
	border 1px solid #ccc

.addType
	height addQ-height
	width 70%
	margin 0px auto
	box-sizing border-box
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	padding 23px
	display none
	button
		width 88px
		height 30px
		text-align center
		line-height 30px
		background-color body-bg
		border 1px solid border-color
		border-radius 0px 
		margin 0px 15px

.addBtn
	background-color body-bg
	height addQ-height
	line-height addQ-height


.page>footer
	width 100%
	margin-top 30px
	li
		display inline-block
		margin-left 120px
		font-size 15px
		
.save,.issue
	padding 5px 10px
	margin-left 20px
	border 1px solid border-color
	border-radius 3px
	background-color #fff
.issue
	background-color header-bg
	color #fff;

#calendar
	width 200px
	height 30px
	line-height 30px
	padding 0px 10px
	.calendar_header
		background-color header-bg

.newQ
	width addQ-width
	height auto
	margin 0px auto
	padding 10px 20px
	box-sizing border-box
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	&:hover
		background-color tr-hoverColor
		input
			background-color  tr-hoverColor
		textarea
			background-color tr-hoverColor
		.add-option,.del-option
			display block
		footer 
			ul
				display block
.moveHover:hover
	background-color page-bg
	input
		background-color  page-bg
	textarea
		background-color page-bg
	.add-option,.del-option
		display none
	footer
		ul
			display none

.newQ
	header
		width 100%
		height 30px
		span
			display inline-block
			font-size 18px
			font-weight bold
		input
			border 0px
			height 30px
			font-size 18px
			font-weight bold
			padding 5px 10px
			box-sizing border-box
			-webkit-box-sizing border-box
			-moz-box-sizing border-box

.add-option,.del-option
	float right
	margin-right 20px
	padding 5px 10px
	border 1px solid border-color
	border-radius 2px
	background-color #fff
	display none

.newQ
	footer
		height 20px
		width 100%
		ul
			float right
			display none
			li 
				display inline-block
				margin-right 15px

.listQ 
	ul
		margin 0px 30px
		li
			height 20px
			margin 8px 0px
	textarea
		width addQ-width
		height 60px
		padding 5px
		font-size 16px
		line-height 1.2
		margin 5px 30px

.listQ 
	input.options
		border 0px
		font-size 16px

.win_title_color
	background-color #eee
	color #000

.win_btn_color
	background-color header-bg
	color #fff
.win_cover
	background-color rgba(187,187,187,0.8)

.viewData
	border 2px solid #ccc
	margin 10px auto 
	.listQ
		li
			margin 13px auto
	footer 
		display none


.p1
	float left
	margin-left 600px
	margin-top -20px
	position relative
	top 30px

.bar
	width 290px
	height 15px
	float right 

.bar-all
	width 250px
	height 13px
	background-color #eee
	display inline-block

.bar-color
	width 80%
	height 100%
	display block
	background-color header-bg
.persent
	margin-left 5px
	display inline-block
.textCont
	height 40px
	line-height 40px 
	width 100%

.chart
	width 200px
	height 160px
	float right
	margin-top -160px




