*{margin:0px;padding:0px;font-family: 'Comic Sans MS', sans-serif;}
body{
	background-image: url('../img/22.jpg');
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
}
li{
	list-style: none;
}
 @font-face {
    font-family:FontAwesome;
    src: url('FontAwesome.otf'),
         url('fontawesome-webfont.svg'),
         url('fontawesome-webfont.eot'),
         url('fontawesome-webfont.ttf'),
         url('fontawesome-webfont.woff') ; 
  }

 /*飘落 */
.roll{
	position:absolute;  
	animation: mysnow 5s ; 
	-webkit-animation: mysnow 5s ; 
	-moz-animation: mysnow 5s ; 
	-ms-animation: mysnow 5s ; 
	-o-animation: mysnow 5s ; 
	height:50px; 
	opacity: 0;
}
.div{ 
	position:fixed; 
} 

.again{
	width:120px;
	height:40px;
	right:300px;
	background-color: rgba(255,255,255,0.3);
	font-size: 20px;
	color: #3F7F39;
	font-weight: bold;
	z-index: 100;
	position: absolute;
}
#container {
	width:80%;
	min-width: 1100px;
	height:770px;
	margin:0px auto;
	background-image: url('../img/94.jpg');
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	box-sizing:border-box;
	transform-style: preserve-3d;
	transition: 2.5s;
	-o-transform-style: preserve-3d;
	-o-transition: 2.5s;
	-moz-transform-style: preserve-3d;
	-moz-transition: 2.5s;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 2.5s;
	-ms-transform-style: preserve-3d;
	-ms-transition: 2.5s;
}

.cont{
		box-sizing:border-box;
		width:660px;
		height:500px;
		margin:100px auto 0px; 
		position: relative;
		top:0px;
	}


.cont p{
	line-height: 2;
	font-size: 18px;
}

#d5{
	box-sizing:border-box;
	width: 650px;
	margin:0px auto;
	padding: 90px 80px 90px 110px;
	height:500px;
	position:absolute;
	top:0px;
}

#d5 .end{
	text-align: center;
	margin-top:80px; 
}
.pointdown{
	width:120px;
	height:120px;
	top:10px;
	position: relative; 
	animation:mypointdown 0.8s ease-in infinite alternate;
	-webkit-animation:mypointdown 0.8s ease-in infinite alternate;
	-ms-animation:mypointdown 0.8s ease-in infinite alternate;
	-moz-animation:mypointdown 0.8s ease-in infinite alternate;
	-o-animation:mypointdown 0.8s ease-in infinite alternate;
}

.po{
	box-sizing:border-box;
	width: 650px;
	margin:0px auto;
	padding: 90px;
	height:500px;
	position:absolute;
	top:0px;
	background-image: url('../img/91.png');
	background-repeat: no-repeat;
	background-position: center;
/*	background-size: cover;*/
}
.cont1 {padding:30px;height:100%;width:100%;}
.cont2 {padding:30px;height:100%;width:100%;}
.cont3 p {
	font-size: 17px;
	padding:5px 20px;
}
.cont4 {
	padding:30px;
	height:100%;width:100%;
}
.next{	
	font-size: 24px;
	position: relative;
	float: right;
	cursor: pointer;
	animation:mypoint 0.8s ease-in infinite alternate;
	-webkit-animation:mypoint 0.8s ease-in infinite alternate;
	-ms-animation:mypoint 0.8s ease-in infinite alternate;
	-moz-animation:mypoint 0.8s ease-in infinite alternate;
	-o-animation:mypoint 0.8s ease-in infinite alternate;
}

.left,.right{
	width:200px;
	height:300px;
	float: left;
}
.right img{
	width:100%;
	height:90%;
	border-radius: 50%;
	margin-top:-10px; 
}

#list{
	box-sizing:border-box;
	margin: 0px auto;
	width: 800px;
	height:140px;
	padding:20px 100px;
}


#list li{
	opacity: 0.5;
	box-sizing:border-box;
	width:100px;
	height:100px;
	border-radius: 50px;
	float: left;
	margin:0px 24px;
	box-shadow:-3px 2px 5px 1px rgba(0,0,0,0.5);
	transform-style: preserve-3d;
	transition: 1.5s;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 1.5s;
	-moz-transform-style: preserve-3d;
	-moz-transition: 1.5s;
	-ms-transform-style: preserve-3d;
	-ms-transition: 1.5s;
	-o-transform-style: preserve-3d;
	-o-transition: 1.5s;
}

.li1{
	background-image:linear-gradient(to bottom,#FEC8F8 0,#FE3CE8 100%);
}
.li2{
	background-image:linear-gradient(to bottom,#C5E4FC 0,#2098F3 100%);
}

.li3{
	background-image:linear-gradient(to bottom,#FEFFD6 0,yellow 100%);
}
.li4{
	background-image:linear-gradient(to bottom,#C0F1C0 0,#21861D 100%);
}


#list img{
	width:100%;
	height:100%;
	border-radius: 100%;
}

#list li .fa {
	position: relative;
	top:30px;
	left:35px;
	font-size: 36px;
	text-shadow:0px 0px 25px  #fff ;
}
.pointer{
	cursor: pointer;
}

#d1 .next{
	left:0px;
	top:-100px;
}

#d2 .next{
	left:0px;
	top:-120px;
}
#d3 .next {
	left:0px;
	top:-30px;
}

#d4 .next {
	left:0px;
	top:-120px;
}

.shining{
	animation:mysh 0.5s infinite alternate;
	-webkit-animation:mysh 0.5s infinite alternate;
	-moz-animation:mysh 0.5s infinite alternate;
	-o-animation:mysh 0.5s infinite alternate;
	-ms-animation:mysh 0.5s infinite alternate;
}

.ro{
	transform:rotateY(180deg);	
	-webkit-transform:rotateY(180deg);
	-ms-transform:rotateY(180deg);
	-o-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
}
.listRo{
	transform:rotateY(720deg);	
	-webkit-transform:rotateY(720deg);
	-ms-transform:rotateY(720deg);
	-o-transform:rotateY(720deg);
	-moz-transform:rotateY(720deg);
}

.pagefall{
	animation:mymove forwards 3.5s;
	-webkit-animation:mymove forwards 3.5s;
	-ms-animation:mymove forwards 3.5s;
	-o-animation:mymove forwards 3.5s;
	-moz-animation:mymove forwards 3.5s;
}

