
*{margin:0px;padding: 0px;}
#container {
	width:700px;
	height:50px;
	margin: 20px auto;
}


li {
		list-style: none;
}
.txt {float: left; margin-right: 10px;}
.star {
	width:150px;
	height:25px;
	float: left;
}
.star li{
	display: inline-block;
	width:20px;
	height:25px;
	overflow: hidden;
}
.star li img {
	position: relative;
	top:0px;
}
.des {
	width:400px;
	float:left;
	position: relative;
}
.des li span {
	color:red;
}
.des li {
	position: absolute;
	top:0px;
	display: none;
}

#return {
		padding:3px 15px;
		font-size: 18px;
		position: fixed;
		top: 0px;
		right: 0px;
	}
#return a{
			text-decoration: none;
	}

