
*
	margin 0px
	padding 0px

li 
	list-style none
a 
	text-decoration none

body 
	font-family Font
	background-color body-bg
	font-size 16px
	height 100%

body,td,th,h3,h4
	font-family 'Microsoft YaHei'

#main 
	width main-width
	margin 80px auto
	position relative

@font-face{
	font-family 'FontAwesome'
	font-weight normal
	src url('../fonts/FontAwesome.otf'),url('../fonts/fontawesome-webfont.svg'),url('../fonts/fontawesome-webfont.ttf'),url('../fontsfontawesome-webfont.woff')
}