//Height
header-height=50px
tr-height=60px
pageBody-height=120px
addQ-height=70px

//width
main-width=1080px
td-width=100px
addQ-width=95%

//Color

page-bg=#fff
header-bg=#ff7c1b
body-bg=#efefef
tr-color=#fff
tr-hoverColor=#fcf0e5
border-color=#bbb
issuing-color=#4ec753
endissue-color=#f44336

//Font
Font = Microsoft YaHei, Verdana,Arial,serif

