.jumbotron {
	height:180px;
}
.left{
	width:50%;
    position: relative;
    float: left;
}
.right {
	position: relative;
	float: left;
	width: 50%;
}
.newImg{
	position: relative;
	top:-50px;
	left: 120px;
	width:80px;
	height:80px;
	border: 1px solid #e5e5e5;
	background-color: #fff;
	border-radius: 5px;
}
#file_input {
	width:200px;
}
.upImg,.oImg{
	position: relative;
	top:-30px;
	left:25px;
	margin-left: 25px;
}