*{
	margin:0px;
	padding:0px;
}
body a{
	text-decoration:none;
}
body ul{
	list-style:none;
}

#return {
		padding:3px 15px;
		font-size: 18px;
		position: fixed;
		top:0px;
		right: 0px;
	}
#return a{
			text-decoration: none;
	}


.topmenu{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	width:1220px;
	height:48px;
	background-color:#303030;
	border-radius:5px;
	margin:0px auto;
	margin-top:25px;
	padding:0px 15px;
}
.topmenu li {
	display:inline-block;
	padding:14 15px;

}
.topmenu li a{
		color:#cecece;
}
.topmenu li:hover{
	background-color:#000;
}
#content{
	width:1220px;
	height:500px;
	margin:20px auto;
}
#left {
	width:180px;
	height:auto;
	float: left;
}
.left-top {
	height:28px;
	width:180px;
	line-height:28px;
	text-align: center;
	background-color:#303030;
	color:#FDFDFD;
}
#left-menu {
	margin-top:15px;
	
}
.left-menu {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	border:1px solid #E5E5E5;
	width:180px;
	height:auto;
	padding:5px 15px;
}

.left-menu p {
    padding:10px 0px;
	font-size:14px;
	font-weight:bold;
}

.left-menu ul li{
	display:inline-block;
	width:66px;	
	height:30px;
}

.left-menu li a{
	text-align: left;
	line-height:30px;
	color:#17A9EE;
}
.left-menu li a:hover {
  color:#1260BF;	
}

#picshow {
	float:left;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	width:670px;
	height:450px;
	margin:9px 35px;
	
}

#right-menu {
	float:left;
}

.right-top-pic img{
	width:300px;
	height:220px;
}

.picshow {
	width:670px;
	height:450px;
	
}
.describe {
	position:relative;
	top:-60px;
	width:670px;
	height:60px;
	background-color:rgba(207,207,207,0.7);
}
.describe li {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:5px 0px;
	display:inline-block;
	width:161.5px;
	height:60px;
	text-align: center;
	line-height:25px;
	font-weight:bold;
}
.describe li:hover{
	background-color:rgba(207,207,207,1);
}

.right-bottom {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	width:300px;
	height:200px;

}
.right-bottom p {
	font-weight:bold;
	margin:10px 0px;
}
.newsale{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	width:300px;
	height:200px;
}
.newsale li {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	height:40px;
	padding:8px 10px;
	width:300px;
	border:1px solid #CCCCCC;
	background-color: #FeFeFe;
}
 
.newsale li a{
	color:#303030;
}
.newsale li p {
	color:#1260BF;
	display:inline-block;
	margin:0px;
	font-weight:500;
}
.newsale li:hover{
	background-color:#eFeFeF;
}


