*{
	margin:0px;padding:0px;
}
	#return {
		padding:3px 15px;
		font-size: 18px;
		position: fixed;
		right:0px;
		top:0px;
	}
	#return a{
			text-decoration: none;
	}

#lunbo {
 	margin:100px;
 	box-sizing:border-box;
 	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
 	width:470px;
 	height:430px;
 	position:relative;
 	overflow: hidden;
 	float:left;
 }
.lunbo-box {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	width:3400px;
	height:340px;
	position:relative;
	left:-470px;
}
.lunbo-box img {
	width:470px;
	height:340px;
	float: left;

}

#nav {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	height:80px;
	width:470px;
	position:relative;
	top:0px;
	background-color:#efefef;
	padding:0 5px;
}

#nav img{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	border:5px solid #efefef;
	width:115px;
	height:80px;
	float: left;
	opacity:0.4;
}
#btn img {
	width:30px;
	height:30px;
	opacity:0.6;
}
#btn img:hover {
	opacity:0.8;
}
#btn {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:0 20px;
	position:absolute;
	top:170px;
	width:470px;
	height:30px;	
}
.left{
	float:left;
}
.right {
	float:right;
}
