*{margin: 0px; padding: 0px;}
	#return {
		padding:3px 15px;
		font-size: 18px;
		position: fixed;
		right:0px;
		top:0px;
	}
	#return a{
			text-decoration: none;
	}


.container{
	width:200px;
	height:200px;
	border-radius: 100px;
	margin: 50px auto;
	background-color: #000;
	position: relative;
}
.dot {
	width:10px;
	height:10px;
	background-color: #469BA0;
	position:absolute;
	top:95px;
	left:95px;
	border-radius: 100%;
	z-index: 10;

}

.hour-line {
	width: 10px;
	height:3px;
	position:absolute;
	top:99px;
	left:50%;
	background-color: #469BA0;
	transform-origin:left center;
	-webkit-transform-origin:left center;
	-o-transform-origin:left center;
	-ms-transform-origin:left center;
	-moz-transform-origin:left center;
}
.time{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	width:68px;
	height:19px;
	border-radius: 2px;
	text-align: center;
	color:#000;
	position: relative;
	top:150px;
	left:67px;
	z-index: 100;
	background-color: #fff;
}
.min-line {
	width: 6px;
	height:2px;
	position:absolute;
	top:99px;
	left:50%;
	background-color: #fff;
	transform-origin:left center;
	-webkit-transform-origin:left center;
	-o-transform-origin:left center;
	-ms-transform-origin:left center;
	-moz-transform-origin:left center;
}
.Hpointer {
	width: 48px;
	height:6px;
	position:absolute;
	top:99px;
	left:50%;
	background-color: #fff;
	transform-origin:left center;
	-webkit-transform-origin:left center;
	-o-transform-origin:left center;
	-ms-transform-origin:left center;
	-moz-transform-origin:left center;
	border-radius:3px; 
}
.Mpointer {
	width: 68px;
	height:3px;
	position:absolute;
	top:99px;
	left:50%;
	background-color: #fff;
	transform-origin:left center;
	-webkit-transform-origin:left center;
	-o-transform-origin:left center;
	-ms-transform-origin:left center;
	-moz-transform-origin:left center;
	border-radius:3px; 
}
.Spointer {
	width: 85px;
	height:2px;
	position:absolute;
	top:99px;
	left:50%;
	background-color: #469BA0;
	transform-origin:left center;
	-webkit-transform-origin:left center;
	-o-transform-origin:left center;
	-ms-transform-origin:left center;
	-moz-transform-origin:left center;
	border-radius:2px; 
}