#return {
		padding:3px 15px;
		font-size: 18px;
		position: fixed;
		top: 0px;
		right: 0px;
	}
#return a{
			text-decoration: none;
	}


#cont{
	width:820px;
	height:700px;
	margin:0px auto;
}
.flipper{
	width:250px;
	height:200px;
	position:relative;
    -webkit-transition: 1.5s;
    -o-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    transition: 1.5s;
	-webkit-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	margin:5px;
	border:3px solid #ccc;
	border-radius:5px; 
	float:left;
}
.front img {
	width:250px;
	height:200px
}
.front,.back {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	width:250px;
	height:200px;
	position:absolute;
	top:0px;
	left: 0px;
	-webkit-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	
}

.flipper:hover{
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);

}
.back{
	background-color:#ccc;
	text-align:center;
	line-height:200px;
	font-weight:bold;
	font-size:22px;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
